@import url('https://fonts.googleapis.com/css?family=Cabin:100,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600');

body {
    font-family: 'Cabin', sans-serif;
    color: #53535a;
}

a {
    &:hover {
        color: $secondary;
    }
}

.section-padding {
    padding-top: 40px;
}

.padding-section-tb {
    padding-top: 60px;
    padding-bottom: 60px;
}