.exchenge-wrapper {
    margin-top: 50px;

    @include media-breakpoint-down(xs) {
        margin-top: 30px;
    }

    .wpex-cal {
        // border: 1px solid #c5c5c5;
        // padding: 40px;
        text-align: center;
        background: #fff;
        padding-top: 25px;
        box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.15);

        &::before {
            content: "Select the Currency ";
            color: #000;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
        }
    }

    .exchange-wrapper-title {
        font-size: 18px;
        font-weight: bold;
    }

    .select2,
    .wpex-cal-amount {
        width: 80% !important;
        margin: 0;
        margin: 10px 0;

    }


    .select2-selection.select2-selection--single,
    .wpex-cal-amount {
        border: 1px solid #aaa !important;

        &:focus {
            box-shadow: none;
        }
    }

    .wpex-cal-submit {
        background: #a7cf52;
        border-color: #a7cf52;
        width: 80%;
        border-radius: 30px;
        margin: 30px 0;
        padding: 20px;
    }

    .wpex-cal-total {
        width: 100%;
        text-align: center;
        margin: 0;
        background: #2dbbe3;

        .wpex-cal-rate {
            width: 100%;
            background: #b8e8f4;
            color: $primary;
            padding: 15px;
            margin: 10px 0 0;

            &:after {
                content: "";
            }

            &:before {
                content: "Rate : ";
            }
        }

        .wpex-cal-total-value,
        .wpex-cal-base {
            margin: 15px 0;
            display: inline-block;


        }
    }

    .select2-container--open .select2-dropdown--below {
        box-shadow: none;
    }
}

.currency-list-container {
    .header1 {
        width: 60%;
    }

    .header2,
    .header3 {
        width: 20%;
    }

    .product-currency {
        .currency-name {
            width: 60%;
        }

        @media screen and (max-width: 414px) {
            .currency-title {
                display: none;
            }
        }

        .currency-buy-rate,
        .currency-sell-rate {
            width: 20%;
        }
    }
}

.currency-list-container.with-order {
    .header1 {
        width: 40%;
    }

    .header2,
    .header3 {
        width: 15%;

        @media screen and (max-width: 414px) {
            width: 30%
        }
    }

    .product-currency {
        border-radius: 40px;
        background: #d7dae4;

        @include media-breakpoint-only(xs) {
            padding: 20px 10px;
        }

        .currency-name {
            width: 40%;
        }

        .currency-quick-order {
            width: 30%;
            font-size: 0;

            @include media-breakpoint-only(xs) {
                font-size: 0px;
                margin-top: 15px;
            }

            .qty {
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                font-size: 16px;

                @include media-breakpoint-only(xs) {
                    display: inline-block;
                    width: 80%;
                    font-size: 16px;
                }
            }

            .btn {
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                font-size: 16px;

                @include media-breakpoint-only(xs) {
                    display: inline-block;
                    width: 20%;
                    font-size: 16px;
                }
            }

            @media screen and (max-width: 762px) {
                width: 100%;
            }
        }

        @media screen and (max-width: 414px) {
            .currency-title {
                display: none;
            }
        }

        .currency-buy-rate,
        .currency-sell-rate {
            width: 15%;

            @media screen and (max-width: 414px) {
                width: 30%;
            }
        }
    }
}