.page-faq {
    .card {
        border: 0;
        margin-bottom: 5px;
        font-weight: 500;
        .card-header {
            padding: 0;
            border-bottom: 0;
            border-radius: 0;
            background: transparent;
        }
    }
    .card-link {
        width: 100%;
        width: 100%;
        display: block;
        background: $primary;
        border: 0;
        padding: .75rem 1.25rem;
        font-weight: 300;
        position: relative;
        color:#fff;
        &:after{
            content:'-';
            position: absolute;
            right: 12px;

        }
        &.collapsed{
            background:#c2c2c2;
            color: $primary;
            &:after{
                content:'+';
                position: absolute;
                right: 12px;
    
            }
        }
    }
    .card-link[aria-expanded=true]{
        background: $primary;
        color:#fff;
        &:after{
            content:'-';
        }
    }
}