.contect-info {
    .tel {
        font-size: 25px;
        color: $primary;
        font-weight: bold;
        margin-top: 1rem;

        span {
            display: inline-block;
            vertical-align: middle;
        }

        .fas {
            color: $secondary;
            font-size: 20px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
        }


    }

    .address,
    .email {
        color: #99A4B6;
        font-size: 18px;
        margin-top: 12px
    }
}

.social-link {
    font-size: 28px;
    // margin-top: 20px;
    color: $primary;
}

.copyright {
    font-size: 13px;
    color: #99a4b6;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.footer-menu.menu-link {
    ul {
        li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: .5rem;
            }
        }
    }
}

.footer-menu-sec {
    background: #ebf0f4;
    padding: 1rem 0;
    border-top: 4px solid $primary;
}

.map-wraper {
    max-height: 500px;
    display: block;
    overflow: hidden;
}

.address {
    strong {
        color: $primary;
        margin-bottom: 1rem;
    }

    .add-item {
        margin-bottom: 1rem;
        line-height: 1.5;
        font-size: 16px
    }
}