.header-section {
    h2 {
        font-size: 35px;
        font-weight: bold;
        color: $primary;
        position: relative;

        @include media-breakpoint-only(xs) {
            font-size: 23px;
        }
    }

    &:after {
        content: "";
        width: 50px;
        height: 10px;
        background-color: $secondary;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
    }

    &.left {
        &:after {
            right: inherit;
            left: 15px;
            ;
        }
    }
}

.sub-heading-content {
    p {
        font-size: 16px;
        font-weight: bold;
        color: $secondary;
    }
}

.currency-section {
    .currency-sec-img {
        height: 85px;

        img {
            width: 160px;
            margin-bottom: 40px;

        }
    }

    .currency-sec-head {
        font-size: 20px;
        font-weight: bold;
        color: $primary;
        margin-bottom: 20px;
    }

    .currency-sec-text {
        p {
            font-size: 16px;
            color: #99A4B6;
        }
    }
}

.section-testimonial {
    background: $primary;
}

.items-testimonial {
    border: 4px solid #fff;
    margin-bottom: 130px !important;

    @include media-breakpoint-only(xs) {
        border-width: 3px;

    }

    &::before {
        content: url(../img/testimonials.jpg);
        position: absolute;
        bottom: -103px;
        transform: scale(.5);

        @include media-breakpoint-up(xl) {
            left: 0
        }

        @include media-breakpoint-up(xs) {
            left: -50px;
        }

        @include media-breakpoint-only(xs) {
            left: -123px;
            transform: scale(.4);
            bottom: -96px;
        }
    }

    .item-testimonial {
        font-size: 0;
        font-family: 'Montserrat', sans-serif;
        padding: 30px;

        .item-testimonial-content {
            font-size: 16px;
            width: 68%;
            display: inline-block;
            font-weight: 300;
            color: #2EBBE1;
            margin-right: 5%;
            // padding: 40px;
            // border: 4px solid #fff;
            position: relative;
            vertical-align: top;

            @include media-breakpoint-only(xs) {
                width: 100%;
                padding: 1rem;

            }

        }

        .item-testimonial-img {
            width: 27%;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            margin: 0 auto;

            @include media-breakpoint-only(xs) {
                width: 100%;
                margin: 0 auto;
                text-align: center;

            }

            img {
                border-radius: 50%;
                width: 114px;
                text-align: center;
                margin: auto;

                @include media-breakpoint-only(xs) {
                    margin: 0 auto;
                    text-align: center;
                }

            }
        }

        .user-info {
            padding-top: 10px;

            .user-position {
                font-size: 16px;
                font-weight: 600;
                color: #fff;
            }

            .user-company {
                font-size: 16px;
                font-weight: 300;
                color: #fff;
            }
        }

        @include media-breakpoint-only(xs) {
            padding: 30px 0px;
        }
    }
}

.fa.checked {
    color: orange;
}

.ex-featued {
    .currency-list-container {
        .currency-list {
            li {
                border-radius: 40px;
                padding-right: 1rem;
            }
        }
    }
}