.first_change-menubar {
    padding: 0px 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    z-index: 9;
    width: 100%;
    background: transparent;
    transition: 0.4s;
    background: #F7F9FB;

    .navbar-brand {
        float: left;
        padding: 0px 0;
        font-size: 18px;
        line-height: 20px;
        // border-bottom: solid 5px $primary;
        margin-left: 0px !important;

        img {
            width: 200px;
        }
    }

    .navbar-nav {
        .nav-link {
            color: $primary;
            font-size: 1.2rem;

            &:hover,
            &:focus {
                color: $secondary;
            }
        }

        .active {
            .nav-link {
                color: $secondary;

            }
        }

        .border-custom {
            background-color: #e1f4fb;
            border-radius: 50%;
            width: 44px;
            height: 44px;
            text-align: center;


        }
    }
}

.dropdown-cart {
    font-size: 14px;

    .item {
        padding: 0 20px;
        font-size: 0;

        .item-info {
            font-size: 14px;
            display: block;
        }

        .item-close,
        .item-left {
            display: inline-block;
            vertical-align: middle;
        }

        .item-left {
            width: 70%;
        }

        .item-close {
            font-size: 14px;
            width: 30%;
        }
    }
}