.slick-dots {
    bottom: -120px;

    li {
        button {
            &:before {
                content: "";
                font-size: 18px;
                border: 2px solid $secondary;
                border-radius: 50%;


            }

        }

        &.slick-active {
            button {
                &:before {
                    background: $secondary;
                }
            }
        }
    }
}