.slider-head {
    font-size: 58px;
    line-height: .8;
    color: $primary;
    font-weight: bold;
    margin-top: 50px;
    position: relative;
    padding-left: 40px;

    @include media-breakpoint-down(xs) {
        font-size: 30px;
        line-height: 1;
        margin-top: 24px;
    }

    &::after {
        content: "|";
        position: absolute;
        color: $secondary;
        left: 0;
        line-height: 1;
        font-size: 80px;
        top: 4px;
    }
}

.slider-head-sub {
    color: #A71E29;
    font-weight: bold;
    font-size: 28px;
    margin-top: 2em;
    margin-bottom: 1rem;

    @include media-breakpoint-down(xs) {
        font-size: 18px;
        margin-top: 1.5em;
        text-align: center;
    }
}

.section-icon-item {
    font-size: 0;

    @include media-breakpoint-down(xs) {
        text-align: center;
    }

    .icon-item {
        display: inline-block;
        width: 7%;
        vertical-align: middle;

        @include media-breakpoint-down(xs) {
            display: inline-block;
            width: auto;
        }

        img {
            width: 47px;

        }
    }

    .icon-text {
        display: inline-block;
        width: 93%;
        vertical-align: middle;
        padding-left: 2rem;

        @include media-breakpoint-down(xs) {
            display: inline-block;
            width: auto;
            padding-left: 1rem;
        }

        .icon-item-head {
            font-size: 23px;
            font-weight: bold;
            color: $primary;
        }

        .icon-content {
            font-size: 16px;
            color: #99A4B6;

            @include media-breakpoint-down(xs) {
                display: none;
            }
        }
    }

}

.bg-gradiant {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f9fb+0,ebf0f4+100 */
    background: #f7f9fb;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f7f9fb 0%, #ebf0f4 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f7f9fb 0%, #ebf0f4 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f7f9fb 0%, #ebf0f4 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f9fb', endColorstr='#ebf0f4', GradientType=0);
    /* IE6-9 */
}